In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cruise_ship_info.csv')

In [3]:
df.head()

,Ship_name,Cruise_line,Age,Tonnage,passengers,length,cabins,passenger_density,crew
0,Journey,Azamara,6,30.277,6.94,5.94,3.55,42.64,3.55
1,Quest,Azamara,6,30.277,6.94,5.94,3.55,42.64,3.55
2,Celebration,Carnival,26,47.262,14.86,7.22,7.43,31.80,6.70
3,Conquest,Carnival,11,110.000,29.74,9.53,14.88,36.99,19.10
4,Destiny,Carnival,17,101.353,26.42,8.92,13.21,38.36,10.00

In [16]:
df.shape

(158, 10)

In [4]:
# import essential libraries
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

In [8]:
df.columns

Index(['Ship_name', 'Cruise_line', 'Age', 'Tonnage', 'passengers', 'length',
       'cabins', 'passenger_density', 'crew'],
      dtype='object')

In [9]:
# encoding the category column
label_encoder = LabelEncoder()
df['Cruise_line_encoded']=label_encoder.fit_transform(df['Cruise_line'])

In [30]:
df['Cruise_line_encoded']

0       0
1       0
2       1
3       1
4       1
       ..
153    18
154    18
155    19
156    19
157    19
Name: Cruise_line_encoded, Length: 158, dtype: int32

In [19]:
X = df[['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density', 'Cruise_line_encoded']]
y = df['crew']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [23]:
lr_model= LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [28]:
train = lr_model.score(X_train, y_train)
test = lr_model.score(X_test, y_test)
print(f"train R square:{train}")
print(f"test R square:{test}")

train R square:0.917357868638892
test R square:0.9429444349278397

In [29]:
import joblib
joblib.dump(lr_model, 'cruise_ship_model.pkl')

['cruise_ship_model.pkl']